/*-- Forms.html CSS Semantics --*/
button, input, select, textarea {
    font-family: ionherit;
    font-size: 100%;
    width: 150px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type=password] {
    color: red;
}
input:required {
    border: 3px dashed #FF0000;
}
input[type=checkbox] {
    width: 40px;
}
input[type=radio] {
    width: 40px;
}
input[type=submit] {
    padding: 20px;
    color: white;
    background-color: #90ee90;
    font-family: sans-serif;
    color: #00ff00;
    outline: white;
}
.name-address {
    width: 800px;
}
.input-box {
    width: 200px;
}
.info {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.info-text {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 700px;
}
.bb-association {
    display: flex;
    flex-direction: row;
    width: 150px;
    margin: 23px;
    padding-right: 20px;
}
.county {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
}
.add-padding {
    padding-left: 10px;
    margin-left: 20px;
}
.button {
    font-size: 13px;
    color: #000000;
}
.referee {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 18px;
    justify-content: space-evenly;
    width: 150px;
    margin: 10px;
}
.ref-box {
    width: 300px;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}
.radio {
    margin: 0;
    padding: 10px;
    width: 10px;
}
.level {
    display: flex;
    text-align: left;
    width: 300px;
}
.cs-class {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 300px;
    font-size: 18px;
    justify-content: left;
    margin: 10px;
}
.famous-player {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 18px;
    justify-content: left;
    width: 150px;
    margin: 10px;
}
.player-name {
    text-align: center;
    justify-content: left;
    width: 150px;
    padding: 0px;
    margin: 0px;
}
.get-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
}
.send-information {
    display: flex;
    width: 300px;
    margin: 20px
}
.send-form {
    margin: 100px;
    padding: 20px;
}
/*-- Index Navigation Menu CSS Semantics --*/
.li-margin {
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.nav-wrapper ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: #FF69B4;
    margin: 0;
    border-style: dashed;
}

.nav-wrapper li a {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    color:  #000000;
    font-weight:  bold;
    width: 200px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*-- Index body with other CSS Semantics --*/
.body {
    font-family: Arial;
    font-size: 17px;
    margin: 0;
    background-color: #ffc0cb;
}
a:hover {
  color: #ffffff;
  font-size: 12rem;
}
a {
    transition-property: font-size;
    transition-duration: 4s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
}
h1 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-left: 20px;
    }
h2 {
    color: #8B0046;
    margin-left: 1.5rem;
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    }

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
    margin-left: 3rem;
    transition-property: font-size;
    text-decoration-color: red;
    }
h4 {
    margin: 30px;
    font-size: 20px;
}

img {
    border-style: dashed;
    border-color: #93CCEA;
    border-width: 6px;
    }
figcaption {
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
.purple-text {
    color: #800080;
    font-size: 1.5rem;
    }
p {
    color: #8B0046;
    font-weight: bold;
    }

a:hover[href="index.html"] {
    color: #8b008b;
    font-size: 1.5rem;
    background-color: #ffffff;
    }
a[href="index.html"] {
    color: #8b008b;
    font-size: 1.5rem;
    margin: 20px;
        }
a[href="about-me.html"] {
    color: #8b008b;
    font-size: 1.5rem;
    margin: 0;
        }

a[href="projectlist.html"] {
    color: #8b008b;
    margin: 20px;
    font-size: 1.5rem;
        }
a[href="https://www.w3schools.com/html/html5_semantic_elements.asp"] {
    color: #8b008b;
    margin: 20px;
    font-size: 1.5rem;
    }
a[href="https://medium.com/women-of-silicon-valley/suzanne-depoe-8e54079c73ff"] {
    color: #8b008b;
    margin-left: 50px;
    font-family: 'Architects Daughter', cursive;
    font-size: 2.0rem;
    }
a[href="https://github.com/suzande/semantic-elements"] {
    color: #8b008b;
    font-size: 1.5rem;
    }
a[href="https://github.com/suzande/portfolio.git"] {
    color: #8b008b;
    font-size: 1.5rem;
    }
a[href="https://www.pce.uw.edu/online/certificate-programs"] {
    color: #8b008b;
    font-size: 1.5rem;
    }
ol {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    width: 1000px;
}
li {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
}
.fas {
    font-size: 75px;
    color: #ffa500;
    }
p {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin: 20pt;
    }
.circle-nav {
    list-style-type: circle;
    }
.received {
    margin: 20px;
  }

/*-- About-me.html CSS Semantics --*/
.flex-wrapper {
    background: #FFC0CB;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
  }
.flex-item {
    border: 1px dashed #cecece;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1rem;
    height: 180px;
    display: flex;
    justify-content: left;
  }
.margin-added {
      margin-left: 40px;
      width: 1000px;
  }
.figure {
    display: flex;
    justify-content: center;
}

section ul li:nth-child(odd) {
      color: #040000;
      font-weight: bolder;
  }

section ul li:nth-child(3n+1){
      background-color: #FFCB6B;
      color: #040000;
      width: 50%;
  }
.semantics-info {
      margin: 10px;
  }

.footer {
      display: flex;
      text-align: left;
      font-size: 22px;
    }
/*-- skip to main content --*/
.hidden {
    position: relative;
    left: -10000px;
    top: auto;
}
.hidden:focus {
    left: 0;
}
