@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');


button, input, select, textarea {
    font-family: ionherit;
    font-size: 100%;
    width: 150px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type=password] {
    color: red;
}

input:required {
    border: 3px dashed red;
}

input[type=submit] {
    padding: 20px;
    color: white;
    background-color: lightgreen;
    font-family: sans-serif;
    color: green;
    outline: white;
}
.name-address {
    width: 800px;
}
.input-box {
    width: 200px;
}
.info {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.info-text {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 700px;
}
h4 {
    margin: 25px;
}

.bb-association {
    display: none
    position: relative;
    width: 400px;
    margin: 60px;
    padding-left: 20px;
}
.referee {
    display: flex;
    text-align: left;
    font-size: 18px;
    justify-content: space-around;
    width: 500px;
    margin: 20px;
}
.ref-box {
    width: 300px;
    text-align: center;

}
.level {
    display: flex;
    text-align: left;
    width: 300px;
}
.cs-class {
    display: flex;
    text-align: center;
    font-size: 18px;
    justify-content: space-around;
    width: 600px;
    margin: 20px;

}
.famous-player {
    display: flex;
    text-align: left;
    font-size: 18px;
    justify-content: space-around;
    width: 300px;
    margin: 20px;
}
.player-name {
    text-align: center;
}
.get-information {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px;
}
.send-information {
    display: flex;
    width: 300px;
    margin: 20px
}
.send-form {
    margin: 100px
    padding: 20px;
}

.li-margin {
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.nav-wrapper ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #FF69B4;
    margin: 0;
    border-style: dashed;
}

.nav-wrapper li a {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    color:  black;
    font-weight:  bold;
    width: 200px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type=submit]:active {
}


.body {
    font-family: Arial;
    font-size: 17px;
    margin: 0;
    background-color: pink;
}

a:hover {
  color: white;
  font-size: 12rem;
}
a {
    transition-property: font-size;
    transition-duration: 4s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
}
section-1:hover {
    background-color: lightblue;
}
h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-left: 20px;
    }
h2 {
    color: DarkRed;
    margin-left: 1.5rem;
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    }
h3 {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-left: 3rem;
    transition-property: font-size;
    text-decoration-color: red;
    }

img {
    border-style: dashed;
    border-color: CornflowerBlue;
    border-width: 6px;
    }
.google {

    }
.purple-text {
    color: purple;
    }
p {
    color: DarkMagenta;
    font-weight: bold;
    }

a:hover[href="index.html"] {
    color: DarkMagenta;
    font-size: 1rem;
    background-color: white;
    }
a[href="about-me.html"] {
    color: DarkMagenta;
    font-size: 1rem;
        }
a[href="https://www.w3schools.com/html/html5_semantic_elements.asp"] {
    color: DarkMagenta;
    }
a[href="https://medium.com/women-of-silicon-valley/suzanne-depoe-8e54079c73ff"] {
    color: DarkMagenta;
    margin-left: 20px;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.4rem;
    }
a[href="https://github.com/suzande/semantic-elements"] {
    color: DarkMagenta;
    }
a[href="https://github.com/suzande/portfolio.git"] {
    color: DarkMagenta;
    }
a[href="https://www.pce.uw.edu/online/certificate-programs"] {
    color: DarkMagenta;
    }
li {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-left: 1rem;
}
.fas {
    font-size: 75px;
    color: orange;
    }
p {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin: 20pt;
    }
.circle-nav {
    list-style-type: circle;
    }
.received {
    margin: 20px;
  }
.flex-wrapper {
    background: pink;
    height:200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
.flex-item {
    border: 1px dashed #cecece;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1rem;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: left;
  }

  section ul li:nth-child(odd) {color: white;}
  section ul li:nth-child(3n+1){
      background-color: orange;
      width: 30%;
  }

  .footer {
      display: flex;
      font-size: 2rem;
      justify-content: center;
      width: 75%;
    }
